{% extends 'base.html' %} {% block title %}User List{% endblock %} {% block
content %}


<h1 class='text-center'>Pets</h1>

{%for pet in pets%}

<div class="card" style="width: 18rem; margin: 10px">
  <div class="d-flex justify-content-center">
    <img src="{{pet.photo_url}}" class="card-img-top" alt="" style="width: 286px; height: auto; margin: auto">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{pet.name}} {%if pet.available == True %} <b>is available!</b> {%else%} <b>is not
        available!</b>
      {%endif%}</h5>
    <p class="card-text">{{pet.notes}}</p>

  </div>
  <div class='card-body text-center'>
    <form action="/{{pet.id}}/delete" method="POST">
      <a href="/{{pet.id}}/edit" class='btn btn-primary'>Edit</a>

      <button class="btn btn-danger">Delete
      </button>
    </form>
  </div>
  <a href="/{{pet.id}}" class="btn btn-primary">Find out
    more!</a>
</div>
{%endfor%}
<div class='text-center'><a href="/add" class='btn btn-success '>Add a New Pet</a></div>

{% endblock %}